.flex-box {
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
}

.heading {
    font: 300 50px 'Lato', sans-serif;
    line-height: 35.12px;
}

.text {
    color: #3677fd;
    background: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.description {
    font: 400 16px/35px 'Lato', sans-serif;
    color: #5a5a5a;
}

.container { 
    max-width: 1102px;
    margin: 0 auto;
}

ol, ul {
	list-style: none;
}

.hero {
    color: white;
    text-align: center;
    width: 100%;
    background: url(../img/hero-bg.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 24px;
}

.cookies {
    width: 100%;
    background-color: #194277;
    font: 400 14px 'Lato', sans-serif;
}

.cookies .container {
    max-width: 509px;
    height: 72px;
    margin: auto;
    align-items: center;
}

.intro-heading {
    max-width: 820px;
    margin: 53px auto 10px;
    font: 700 50px/60px 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.intro-description {
    max-width: 770px;
    margin: 0 auto 75px;
    font: 300 16px/35px 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.arrow {
    display: block;
    margin: auto;
    cursor: pointer;
}

.hamburger { padding-top: 84px;}

/*BUTTONS*/
.accept {
    width: 112px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #194277;
    font: 700 12px/30px 'Lato', sans-serif;
    cursor: pointer;
} 

.hb {
	  width: 30px;
	  height: 2px;
	  background-color: white;
	  margin: 9px 0;
	  margin-left: 1065px;
}

.button {
    width: 204px;
	height: 55px;
	margin-bottom: 92px;
    color: #3695ff;
    background-color: #ffffff;
    border-radius: 28px;
    border: none;
    font: 700 16px/55px 'Lato', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}


/*ABOUT_ME*/
.about_me {
    width: 100%;
    padding: 98px 0 115px;
    text-align: center;
}

.about_me h2 { margin-bottom: 69px;}


/*EXPERT_IN*/
.expert-in {
    padding: 99px 0 111px;
    background-color: #f1f8ff;
    text-align: center;
}

.expert-in .title { 
    margin: 62px 0 12px;
    color: #3677fd;
    font: 700 24px/24px 'Lato', sans-serif;
    text-transform: uppercase;
}

.img-container {
    width: 140px;
    height: 140px;
    padding: 35px;
    margin: 101px auto 0;
    border: 1px solid #b7c0c9;
    border-radius: 50%;
    box-sizing: border-box;
}

.list_serv {
    max-width: 340px;
}

/*LATEST_WORKS*/
.latest-works {
    padding: 91px 0 194px;
    text-align: center;
}

.latest-works h2 { margin-bottom: 50px;}

.work_list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 54px;
    width: 320px;
    height: 269px;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
}

.work_list2 {align-items: center;}

/*CLIENTS*/
.clients {
    padding: 94px 0 99px;
    background-color: #f1f8ff;
    text-align: center;
}

.companies {  margin-top: 76px; }

/*FOOTER*/
.footer {
    padding: 96px 0;
    background: url(../img/footer-img.png) center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.footer-text { font: 300 50px 'Lato', sans-serif; }

.footer-text span {font-weight: 700;}

